@page
@model ecommerce_db.Pages.CRUD.ListarModel
@{
}


<a class="btn btn-primary" asp-page="./Incluir">
	Incluir	
</a>
<table class="table">
	<thead>
		<tr>
			<td>Id</td>
			<td>Nome</td>
			<td>Email</td>
			<td>Telefone</td>
		</tr>
	</thead>
	<tbody>@foreach ( ecommerce_db.Models.Clientes clientes in Model.Clientes){
		<tr>
			<td>@clientes.Id</td>
			<td>@clientes.Name</td>
			<td>@clientes.email</td>
			<td>@clientes.telefone</td>
			<td>
				<a asp-page="./Alterar"
				asp-route-id="@clientes.Id"
				class="btn btn-primary"
				
				>
				Editar


				</a>

				<form 
					method="post"
					asp-page-handler="delete"
					asp-page-id="@clientes.Id"
				>
				<button class="btn btn-danger">Excluir</button>
			
			</form>

			</td>
			 
		</tr>	

	}</tbody>
</table>
