@page
@model ListarModel
@{
}
<h1> Produtos </h1>
    <div>
	<a asp-page="./Incluir"
	   class="btn btn-outline-success">
		Incluir
	</a>
    </div>
   
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Descricao</td>
            <td>Categoria</td>
			<td>Unidade de Medida</td>
			<td></td>

		</tr>
		
    </thead>
    <tbody>@foreach (ecommerce_db.Models.Produto Produtos in Model.Produtos){
			<tr>
				
            <td>@Produtos.Id</td>
            <td>@Produtos.nome</td>
            <td>@Produtos.descricao</td>
            <td>@Produtos.categoria</td>
            <td>@Produtos.unidadedeMedida</td>
            <td>

                     
                <a asp-page="./Incluir"
                        class="btn btn-outline-success">
                    Incluir
                </a>
                         
                        
                <a asp-page="./alterar"
					asp-route-id="@Produtos.Id"
                        class="btn btn-outline-warning">
                    Alterar
                </a>
                            
                          
                         
                <form method="post"
                        asp-page-handler="delete"
                            asp-route-id="@Produtos.Id">
                            <button class="btn btn-outline-danger">Excluir</button>
                </form>
                           
            </td>
                            
        </tr>
    }</tbody>
</table>

