@page
@model ListarModel
@{
}
<a class="btn btn-primary" asp-page="./Incluir">
    Incluir	
</a>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Descricao</td>
            <td>Categoria</td>
            <td>Unidade de Medida</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>@foreach (ecommerce_db.Models.Produto Produtos in Model.Produtos){
        <tr>
            <td>@Produtos.Id</td>
            <td>@Produtos.nome</td>
            <td>@Produtos.descricao</td>
            <td>@Produtos.categoria</td>
            <td>@Produtos.unidadedeMedida</td>
            <td>
					<a asp-page="./alterar"
					   asp-route-id="@Produtos.Id"
					   class="btn btn-primary">
						Editar
					</a>

					<form method="post"
						  asp-page-handler="delete"
						  asp-route-id="@Produtos.Id">
						<button class="btn btn-danger">Excluir</button>
					</form>

            </td>
                
        </tr>
    }</tbody>
</table>

