@page
@model ecommerce_db.Pages.crud.ListarModel
@{
}
<h1> Produtos</h1>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ecommerce_db.Models.Clientes cliente in Model.clientes) {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Name</td>
                <td>@cliente.email</td>
                <td>@cliente.telefone</td>


                <td>

					<a  class="btn btn-outline-success" asp-page="./Incluir">
						Incluir
					</a>


                </td>
                
                <td>

                    <a class="btn btn-outline-warning"
                            asp-page="./Alterar"
                            asp-route-id="@cliente.Id"
 
                    >
                            Alterar
                        </a>
                </td>
                <td>

                       <form
                           method="post"
                           asp-page-handler="delete"
                           asp-route-id="@cliente.Id"
                       >
                        <button class="btn btn-outline-danger">Excluir</button>
                       </form>
                </td>
            </tr>
    }</tbody>
</table>